<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    
    <add name="myConnectionString" connectionString="Data Source=Arpa;Initial catalog=Sgbd2016;User ID=monUser;Password=monUser"
      providerName="System.Data.SqlClient" />
   
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>